<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Control Clientes</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn" class="nav-item px-2">
          <a routerLink="/" class="nav-link">Inicio</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item px-2">
          <a routerLink="/configuracion" class="nav-link">
            <i class="fas fa-cog"></i> Configuración
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item px-2">
          <a href="#" class="nav-link">
            <i class="fas fa-user"></i> Bienvenido {{loggedInUser}}
          </a>
        </li>
        <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item px-2">
          <a routerLink="/login" class="nav-link"
           routerLinkActive="router-link-active">
            <i class="fas fa-user"></i> LogIn
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item px-2">
          <a style="cursor:pointer" (click)="logout()" class="nav-link">
            <i class="fas fa-user-times"></i> LogOut
          </a>
        </li>
        <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item px-2">
          <a routerLink="/registrarse" class="nav-link"
          routerLinkActive="router-link-active">
            <i class="fas fa-user"></i> Registrarse
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
